@inject IStringLocalizer<Resources.AppResources> Loc

<EditForm Model="user" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">@Loc["UsernamePlaceholder"]</label>
        <InputText id="name" @bind-Value="user.Username" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="mail">@Loc["EmailPlaceholder"]</label>
        <InputText id="mail" @bind-Value="user.Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="pass">@Loc["PasswordPlaceholder"]</label>
        <InputText type="password" id="pass" @bind-Value="user.Password" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Loc["RegisterButton"]</button>
</EditForm>

@code {
    [Parameter]
    public UserRegister user { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
