@page "/register"
@inject IAuthService service
@inject NavigationManager manager
@inject AuthState authState

<h3>Sign up:</h3>

@if (message is not null)
{
    <p class="alert @buttonClass">@message</p>
}

<RegisterForm user="user" OnValidSubmit="HandleSubmit" />

@code {
    private UserRegister user = new UserRegister();
    private string? message;
    private string? buttonClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/");
        }
    }

    public async Task HandleSubmit()
    {
        var response = await service.RegisterAsync(user);

        buttonClass = response.Success ? "alert-success" : "alert-danger";

        message = response.Message;
    }
}
