@inject AuthState AuthState;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PamiwAPP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi bi-house-fill" style="color:dodgerblue;" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (AuthState.IsAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="books">
                    <span class="oi bi-book-fill" style="color:dodgerblue;" aria-hidden="true"></span> Books
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="authors">
                    <span class="oi bi-person-fill" style="color:dodgerblue;" aria-hidden="true"></span> Authors
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="publishers">
                    <span class="oi bi-building-fill" style="color:dodgerblue;" aria-hidden="true"></span> Publishers
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }
}
