@page "/logout"
@inject HttpClient httpClient
@inject AuthState authState
@inject NavigationManager manager
@inject ILocalStorageService storageService
@inject IStringLocalizer<Resources.AppResources> Loc

<PageTitle>[PAMIW] @Loc["LogoutButton"]</PageTitle>

    <h1>@Loc["LogoutButton"]</h1>

<p>@Loc["LogoutMessage"]</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/");
        }

        httpClient.DefaultRequestHeaders.Authorization = null;
        authState.SetAuth(false);

        await storageService.RemoveItemAsync("jwtToken");
    }
}
