@page "/logout"
@inject HttpClient httpClient
@inject AuthState authState
@inject NavigationManager manager
@inject ILocalStorageService storageService

<h3>Logout</h3>

<p>User logged out successfully.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/");
        }

        httpClient.DefaultRequestHeaders.Authorization = null;
        authState.SetAuth(false);

        await storageService.RemoveItemAsync("jwtToken");
    }
}
