@page "/logout"
@inject HttpClient _httpClient;
@inject AuthState _authState;

<h3>Logout</h3>

<p>User logged out successfully.</p>

@code {
    protected override void OnInitialized()
    {
        _httpClient.DefaultRequestHeaders.Authorization = null;
        _authState.SetAuth(false);
    }
}
