@page "/"
@inject AuthState authState
@inject IStringLocalizer<Resources.AppResources> Loc

<PageTitle>[PAMIW] @Loc["HomeHeader"]</PageTitle>

    <h1>@Loc["HomeHeader"]</h1>

@Loc["HomeText"]

@code {
    protected override async Task OnInitializedAsync()
    {
        await authState.TryAuthenticateAsync();
    }
}