@page "/settings"
@inject IJSRuntime JSRuntime
@inject NavigationManager manager
@inject AuthState authState
@using System.Globalization

<h1>Settings</h1>

<div>
    <label class="form-label">
        Select app language
    </label>
    <select class="form-select" @bind="Culture">
        @foreach (var culture in supportedCultures)
        {
            <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await authState.TryAuthenticateAsync();
    }


    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("pl-PL"),
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                manager.NavigateTo(manager.Uri, forceLoad: true);
            }
        }
    }
}