@inject IStringLocalizer<Resources.AppResources> Loc
@inject ThemeSettings themeSettings

<EditForm Model="publisher" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">@Loc["PublisherName"]</label>
        <InputText id="name" @bind-Value="publisher.Name" class="@inputClass"></InputText>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Loc["SubmitButton"]</button>
</EditForm>

@code {
    [Parameter]
    public Publisher publisher { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    public string? inputClass;

    protected override void OnInitialized()
    {
        inputClass = themeSettings.CurrentTheme == AppTheme.Dark ? "form-control-dark form-control" : "form-control-light form-control";
    }
}
