@page "/publishers/create"
@inject IPublisherService service
@inject NavigationManager manager

<PageTitle>PWA - Create publisher</PageTitle>

<h3>Create publisher</h3>

@if (publisher is not null)
{
    @if (message is not null)
    {
        <p class="alert alert-danger">Error: @message</p>
    }

    <PublisherForm publisher="publisher" OnValidSubmit="HandleSubmit" />
}

@code {
    private Publisher publisher = new Publisher();
    private string? message;

    public async Task HandleSubmit()
    {
        var response = await service.CreatePublisherAsync(publisher);

        if (!response.Success)
        {
            message = response.Message;
            return;
        }

        manager.NavigateTo("/publishers");
    }
}
