@page "/books/create"
@inject IBookService service
@inject NavigationManager manager
@inject AuthState authState
@inject IStringLocalizer<Resources.AppResources> Loc

<PageTitle>[PAMIW] @Loc["CreateBookHeader"]</PageTitle>

    <h1>@Loc["CreateBookHeader"]</h1>

@if (book is not null)
{
    @if (message is not null)
    {
        <p class="alert alert-danger">@Loc["ErrorLabel"] @message</p>
    }

    <BookForm book="book" OnValidSubmit="HandleSubmit" />
}
@code {
    private Book book = new Book();
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/login");
        }
    }

    public async Task HandleSubmit()
    {
        var response = await service.CreateBookAsync(book);

        if (!response.Success)
        {
            message = response.Message;
            return;
        }

        manager.NavigateTo("/books");
    }
}
